.card-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .card-table th, .card-table td {
    padding: 0.8rem 1rem;
    text-align: left;
    color: #222222;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .card-table th {
    background-color: #eaeaea;
    font-weight: 700;
  }
  
  .card-table tr:last-child td {
    border-bottom: none;
  }